/*

Add styles or override variables from the theme here.

*/

$google_font_name: "Oxygen";
$google_font_family: "Oxygen:300,300i,400,400i,700,700i";
$primary: #219ebc;
$secondary: #ffb703;
$dark: #023047; 
//$white: #8ecae6;   
$light: #8ecae6;
$enable-gradients: true;
$enable-rounded: false;
$enable-shadows: true;

/*
.td-box--primary .td-arrow-down::before, .td-box--1 .td-arrow-down::before{
    border-color: #457b9d transparent transparent transparent !important;

}
.td-box--primary {
    background-color: #457b9d !important;
}

.td-box--1 {     background-color: #457b9d !important; }
.td-box--2 {     background-color: #457b9d !important; }


.td-box--dark {
    background-color: #457b9d !important;

}

.td-box--3 {
    color: #f1faee !important;
    background-color: #a8dadc !important;

}

.td-navbar {
    background: #a8dadc !important;
}

.navbar-bg-onscroll {
    background: #a8dadc !important;

}
.td-box--4 {
    background-color: #f1faee !important;

}



.btn-primary {
    background: #e63946 !important;
    border-color:  #a8dadc !important;

}

.btn-secondary {
    background: #1d3557 !important;
    border-color:  #a8dadc !important;

}
*/